.button {
    padding: 0.5rem 1rem;
    margin: 1.5rem;
    background-color: #202123;
    color: #f0f0f0;
    font: inherit;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 0.1rem;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 5px 2px #20212330;
}

.button:active {
    scale: 0.96;
}
